/*COLOR PALETTE*/

/*DARK MODE (for actual humans)*/

$background-color: #22223b;
$background-cards: rgba(74, 78, 105, 0.1);
$borders: #4a4e69;
$button-elements: #f06543;

$content-text: #d9dbf1;

$headline-text: #f2e9e4;
$subtitle-text: #d9dbf1;

$hover-effect: rgba(217, 219, 241, 0.05);
/*LIGHT MODE (for NPCs)*/
